@charset"UTF-8";

/*typo*/

html{
    font-family: "Roboto", sans-serif;

}
h1{
    font-family: "bebas neue", sans-serif;
}
h2,
h3,
q{
    font-family: "Times New Roman", serif;
    font-weight: bold;
}
